@model WebsiteQLDichVuMobiFone.Models.Sim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoThueBao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoThueBao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhuVucHoaMang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhuVucHoaMang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhiHoaMang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhiHoaMang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoiDangKyDiKemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoiDangKyDiKemNavigation.IdgoiDangKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddichVuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddichVuNavigation.IddichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdloaiSoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdloaiSoNavigation.IdloaiSo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdtrangThaiSimNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdtrangThaiSimNavigation.IdtrangThaiSim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idsim">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
