@model IEnumerable<WebsiteQLDichVuMobiFone.Models.CthoaDonSim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdgoiDangKyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdhoaDonSimNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdsimNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdgoiDangKyNavigation.IdgoiDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdhoaDonSimNavigation.IdhoaDonSim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdsimNavigation.Idsim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdcthoaDonSim">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdcthoaDonSim">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdcthoaDonSim">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
