@model WebsiteQLDichVuMobiFone.Models.GiaoDichNapTien

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GiaoDichNapTien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGiaoDichNapTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGiaoDichNapTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienNap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTienNap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThucNap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThucNap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdnguoiDungNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnguoiDungNavigation.IdnguoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsimNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsimNavigation.Idsim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdtrangThaiThanhToanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdtrangThaiThanhToanNavigation.IdtrangThaiThanhToan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdgiaoDich" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
