@model IEnumerable<WebsiteQLDichVuMobiFone.Models.SanPhamDichVuKhac>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThongTinChiTiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdloaiDichVuKhacNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTinChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdloaiDichVuKhacNavigation.IdloaiDichVuKhac)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdsanPham">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdsanPham">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdsanPham">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
