@model WebsiteQLDichVuMobiFone.Areas.Customer.ViewModels.SimDangKyViewModel

<div class="container py-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card p-4">
                <h5 class="mb-3">Thông tin khách hàng</h5>
                <form method="post" action="@Url.Action("ChonGoiCuoc", "Home", new { area = "Customer" })">
                    <input type="text" class="form-control mb-3" placeholder="Nhập họ và tên *" name="tenKhachHang" required>
                    <input type="text" class="form-control mb-3" placeholder="Nhập số điện thoại *" name="soDienThoai" required>
                    <input type="email" class="form-control mb-3" placeholder="Nhập email" name="email">

                    <h5 class="mt-3">Phương thức vận chuyển</h5>
                    <select class="form-select" name="phuongThucVanChuyen" required>
                        @foreach (var item in Model.PhuongThucVanChuyens)
                        {
                            <option value="@item.IdphuongThucVc">
                                @item.TenVanChuyen - @item.GiaVanChuyen đ
                            </option>
                        }
                    </select>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card p-4">
                <h5 class="text-primary">Thông tin SIM</h5>
                <p>Thuê bao: <strong>@Model.SoThueBao</strong></p>
                <p>Loại số: <strong>@Model.LoaiSo</strong></p>
                <p>Phí hòa mạng: <strong>@Model.PhiHoaMang.ToString("N0")đ</strong></p>
                <p>Giá gói cước: <strong>@Model.GiaGoiCuoc.ToString("N0")đ</strong></p>

                <div class="border-top my-3"></div>

                <h5 class="fw-bold">Hóa đơn</h5>
                <p>Tổng tiền hàng: <strong>@(@Model.PhiHoaMang + Model.GiaGoiCuoc)đ</strong></p>
                <p>Phí giao hàng: <strong>@Model.GiaVanChuyen đ</strong></p>
                <p class="fs-5">Tổng tiền thanh toán: <strong>@(@Model.PhiHoaMang + Model.GiaGoiCuoc + Model.GiaVanChuyen) đ</strong></p>

                <button type="submit" class="btn btn-primary mt-3">Hoàn tất đăng ký</button>
            </div>
        </div>
    </div>
</div>
